/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.core {
  transition: fill 0.3s;
  transition-delay: 0.03s;
}

.main-body {
  transition: fill 0.3s;
}

.is-liked .core {
  animation: coloring 0.3s linear;
  animation-fill-mode: forwards;
}

.is-liked .main-body {
  animation: coloring 0.3s 0.05s linear;
  animation-fill-mode: forwards;
}

.is-liked .contour {
  animation: coloring 0.3s 0.06s linear;
  animation-fill-mode: forwards;
}

.is-liked .heart {
  animation: heart-scaling 0.3s 0.1s ease-in;
  animation-iteration-count: 1;
}

.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in;
  animation-iteration-count: 1;
}

.card__icon-button:hover .core {
  fill: var(--contour-color-primary);
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color-primary);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.card__icon-button:active .is-liked.core {
  fill: var(--contour-color-secondary);
  transition: fill 0.3s;
}

.card__icon-button:active .is-liked.main-body {
  fill: var(--contour-color-secondary);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

@keyframes coloring {
  0% {
    fill: initial;
  }

  100% {
    fill: var(--contour-color-secondary);
  }
}

@keyframes heart-scaling {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
    transform-origin: center;
  }
}

@keyframes sparks-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
