*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-block-size: 100dvb;
}

body {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--body-font-size);
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin-inline: auto;
  margin-block: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-primary), sans-serif;
    font-variation-settings: "wght" var(--font-weight-regular, 400);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: inherit;
}

img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

ul,
ol {
  list-style: none;
}

button {
  appearance: none;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  color: currentColor;
  background-color: transparent;
}

button:focus {
  outline: none;
}

dialog::backdrop {
  background-color: var(--dialog-backdrop-color);
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
